*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'poppins', sans-serif,Arial, Helvetica, sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
    background: #F3F4F6;
}
header{
    width: 100%;
    height: 100%;
    position: fixed;
}
.menu{
    display: none;
}

nav{
    width: 100%;
    height: 70px;
    display: grid;
    grid-template-columns: 20% 65% 15%;
    background: #111827;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.logo i{
    display: none;
}

.logo i:hover{
    color: #e4ebec;
}
.icon span i:hover{
    color: #f7f8f8;
}
.nvt img{
    width: 30px;
}
.nvt h4{
    color: #fff;
    font-size: 20px;
}
.items{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 19%;
    gap: 5px;
}
.items h2{
    color: #F9874B;
    font-size: 17px;
}
.items p{
    color: #FF5A1F;
    font-size: 14px;
    font-weight: bold;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon span{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    cursor: pointer;
}
.icon span i{
    color: #dae1e7;
    font-size: 13px;
}
.icon span .fa-solid{
    font-size: 8px;
}
.icon-up{
    position: absolute;
    top: 75px;
    right: 60px;
    height: 90px;
    width: 175px;
    background: #FFFFFF;
    box-shadow: 1px 1px 4px 4px #07070710;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.icon-up.show {
    visibility: visible;
    opacity: 1;
}


.icon-up h5{
    font-size: 14px;
}
.icon-up a{
    font-size: 14px;
    color: #000;
    transition: .3s ease-in-out;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.icon-up a:hover{
background: #dadddf46;;
}
.icon-up a i{
    margin-right: 10px;
}


.navgt{
    height: 55px;
    background: #FFFFFF;
    box-shadow: 1px 1px 1px 1px #07070710;
    display: flex;
    align-items: center;
    padding-left: 70px;
    gap: 60px;
}
.mdi{
    font-size: 18px;
    margin-right: 10px;
}
#droite{
    margin-left: 41px;
}
.inscr{
    color: #80888F;
}
.inscr:hover{
    color: #551A8B;
}

.navgt .fa-solid{
    font-size: 8px;
    margin-left: 10px;
}

.incript, .incript1, .incript2, .incript3{
    position: absolute;
    top: 120px;
    left: 190px;
    height: 80px;
    width: 180px;
    background: #FFFFFF;
    box-shadow: 1px 1px 4px 4px #07070710;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 10px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 9;
}

.incript1{
    justify-content: center;
    top: 10px;
    left: 180px;
}
.incript2{
    top: 50px;
    left: 180px;
    height: auto;
    padding: 10px ;
    width: 200px;
}
.incript3{
    top: 70px;
    left: 180px;
    height: auto;
    padding: 8px ;
    width: auto;
    width: 200px;
}

/* Afficher .incript au survol du lien .inscr */
.inscr:hover + .incript,
.incript:hover {
    visibility: visible;
    opacity: 1;
}

/* Afficher .incript1 au survol de .bourse-hors-ci */
.bourse-hors-ci:hover ~ .incript1,
.incript1:hover {
    visibility: visible;
    opacity: 1; 
}

.bourse-ci:hover ~ .incript2,
.incript2:hover {
    visibility: visible;
    opacity: 1; 
}

.bourse-ci1:hover ~ .incript3,
.incript3:hover {
    visibility: visible;
    opacity: 1; 
}

.incript a{
    font-size: 13px;
    color: #80888F;
}
.incript a:hover{
    color: #551A8B;
}


.resultat{
    position: absolute;
    top: 120px;
    left: 380px;
    height:110px;
    width: 190px;
    background: #FFFFFF;
    box-shadow: 1px 1px 4px 4px #07070710;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 8px;
    transition: all 0.3s ease;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 9;
    
}
.resultat a{
    font-size: 13px;
    color: #80888F;
}


.result:hover + .resultat,
.resultat:hover {
    visibility: visible;
    opacity: 1;
}







main{
    padding:155px 0 0 70px ;
}

.box{
    height: 200px ;
    width: 60vw;
    background: #FFFFFF;
    box-shadow: 1px 1px 1px 1px #07070710;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    gap: 30px;
    margin-bottom: 25px;
}
.box p{
    font-size: 14px;
    color: #707880;
}

.bbt{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

button{
    padding:  8px 15px;
    border: none;
}
.times{
        background: #06B6D4;
        color: #F3F4F6;
}

.donwl{
    color: #F3F4F6;
    background: #1E293B;
}

.read{
    background: #FF5A1F;
    color: #F3F4F6;
}


footer{
    height: 60px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 1px 1px 1px 1px #07070710;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 20px;
}

footer p{
    font-size: 14px;
}


.cach{
    position: fixed;
    right: 0;
    bottom: 20px;
    height: 60px;
    width: 70px;
    background: #FFFFFF;
    box-shadow: 1px 1px 4px 4px #0707073b;
    border-radius: 2px;
    transition: .2s ease-in-out;
    background: blueviolet;
    display: flex;
    align-items: center;
    gap: 10px;
}
.cach:hover{
    width: 250px;
}
.cach p{
    color: #dae1e7;
    font-size: 13px;
}

.cach p span{
    font-size: 12;
    cursor: pointer;
}
.cach p span:hover{
    text-decoration: underline;
}

.cach img{
    height: 100%;
    border-radius: 2px 0 0 2px;
}

.capt{
    font-weight: bold;
}





@media screen and (max-width:768px) {
    main{
        padding:100px 10px 0 10px ;
    }
    .box{
        width: 100%;
        padding: 10px;
    }
    .box H4{
        font-size: 12px;
    }
    .box p{
        font-size: 10px;
        color: #707880;
    }
    
    .bbt{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    button{
        font-size: 10px;
        padding:  5px 5px;
        border: none;
    }

    .items{
        display: none;
    }

    nav{
        grid-template-columns: 50% 50%;    
    }
   
    .logo {
        justify-content: left;
        padding: 0 0 0 30px;
    }
    .logo h4{
        display: none;
    }
    .logo img{
        width: 40px;
    }
    .icon{
        justify-content: right;
        padding: 0 30px;
    }

    .logo i{
        display: block;
        color: #c6cdd3af;
        font-size: 20px;
    }
    .icon-up{
        right: 40px;
    }


    .navgt{
        display: none;
    }

    footer{
        padding: 20px;
    }
    footer p{
        font-size: 12px;
    }


    .menu{
        height: 100vh;
        width: 60%;
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 25px 0 0 20px;
        z-index: 100;
    }
        /* Style pour le menu caché */
    #menu {
        transform: translateX(-100%);
        transition: transform 0.3s ease; /* Transition pour un effet fluide */
    }

    /* Style pour le menu visible */
    #menu.menu-active {
        transform: translateX(0);
    }
    .box-menu{
        position: absolute;
        top: 70;
        left: 0;
        z-index: 90;
        height: 94vh;
        width: 100%;
        background: #00000091;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.3s ease, opacity 0.3s ease;
 
    }

    .box-menu.box-active {
        visibility: visible;
        opacity: 1;
    }



    .pop1-1{
        display: none;
        transition: .3s ease-in-out;
    }

    .pop1{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .bourse1, .bourse2{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 20px;  
    }
    .bourse-hors, .bourse-ci{
        font-size: 12px;
    }

    .pop11, .pop12{
        display: none;
        padding-left: 15px;
        transition: .3s ease-in-out;
        color: #707880;
    }
    .pop11 a, .pop12 a{
        display: block;
        margin:  15px 0;
        color: #707880;
        font-size: 12px;
        transition: .3s ease-in-out;
    }
    .pop11 a:hover, .pop12 a:hover{
        color: #551A8B;
    }

    .fa-solid {
        font-size: 10px;
    }
    .pop1-1.fa-solid {
        font-size: 10px;
    }






    .cont{
        display: none;
    }
    .pop2-2{
        display: flex;
        flex-direction: column;
        gap: 20px;  
        padding-left: 20px; 
    }
    .bours1, .bours2, .bours3{
        color: #707880;
        font-size: 12px;

    }
    .bours1:hover, .bours2:hover, .bours3:hover{
        color: #551A8B;
    }
    .pop22 {
        display:none ;
        padding: 10px 0 0 20px;
    }
    .pop22 a{
        display:block ;
        font-size: 12px;
        color: #707880;
        margin: 10px 0;
        transition: .3s ease-in-out;
    }
    .pop22 a:hover{
        color: #551A8B;
    }

    .pop23 {
        display: none;
        padding: 10px 0 0 20px;
    }
    .pop23 a{
        display:block ;
        font-size: 12px;
        color: #707880;
        margin: 10px 0;
        transition: .3s ease-in-out;
    }
    .pop23 a:hover{
        color: #551A8B;
    }
    


    .pop24 {
        display: none;
        padding: 10px 0 0 20px;
    }
    .pop24 a{
        display:block ;
        font-size: 12px;
        color: #707880;
        margin: 10px 0;
        transition: .3s ease-in-out;
    }
    .pop24 a:hover{
        color: #551A8B;
    }

}
